.navjl li {
    display:inline;
    padding-left:30px;
    padding-right:30px;
    color:white;
    font-size:15px;
    font-weight:400;
    text-align:center;
    line-height:40px;
    font-family:calibri;
    position:static;
}
.navjl a:link {
    color:white;
    text-decoration:none;
}
.navjl a:visited {
    color:white;
    text-decoration:none;
}
.navjl a:hover {
    color:RGB(150, 150, 150);
}
.navjl li:hover {
    color:RGB(150, 150, 150);
}
.navjl ul {
    text-align:center;
    background-color: RGBA(0,0,0, 0.5);
    list-style:none;
    margin:0;
    padding:0;
    z-index:2;
    height:40px;
    width:100%;
    position:fixed;
    
}
.navjl img { 
    height:30px;
    width:30px;
    margin:0;
    top:-25px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    position:absolute;
    padding-top:30px;
}
.navjl img:hover {
    opacity:0.5;
}

.navjl {
    width:100%;
}
.containerjl img {
    width:100%;
    height:100%;
    z-index:-1;
    top:0px;
}
.containerjl {
    width:auto;
    height:100%;
    position:static;
}
body {
    margin:0;
    padding:0;
   
}
.picjl li {
    display:inline;
    position: relative;
    text-align:center;
}
.picjl img {
    display: inline-block;
    width:24%;
    height:24%;
    margin:0;
    padding-left:0.8%;
    
    padding-top:0.8%;
    padding-bottom:0.8%;
    float: left;
    
}
.picjl ul {
    position:relative;
    margin:0;
    padding:0;
}
.picjl {
    position:relative;
    margin:0;
    padding:0;
    z-index:1;
}

.bovenjl {
    position:relative;
}
.onderjl {
    padding:0;
    margin:0;
    width:100%;
}
.footerjl table{
    color:white;
    width:100%;
    text-align:center;
    background-color:RGB(28,28,28);
    padding-top:1%;
    padding-bottom:1%;
    margin-top:1px;
    padding-left:25%;
    padding-right:14%;
    
    
}
.footerjl tr {
    padding:10px;
    text-align:left;
}
.footerjl a {
    text-decoration:none;
    color:grey;
}
.poepjl {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #69D2E7;
    text-align: center;
    color: #000000;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.5;
}

ul, li {
    margin:0; 
    padding:0; 
    list-style:none;
}

.menu_classjl {
    border:1px solid #1c1c1c;
}

.file_menujl {
    display:none;
    width:300px;
    border: 1px solid #1c1c1c;
    position: relative;
}

.file_menujl li {
    background-color: #302f2f;
    position: relative;
}

.file_menujl li a {
    color:#FFFFFF; 
    text-decoration:none; 
    padding:10px; 
    display:block;
}

.file_menujl li a:hover {
    padding:10px;
    font-weight:bold;
    color: #F00880;
}

.subjl {
    position: absolute;
    width:300px;
    border: 1px solid #1c1c1c;
    display: none;
    left: 302px;
    top: 0px;
}
@font-face {
    font-family:expansiva;
    src: url("Alle/expansiva.otf");
}
#changejl {
    font-family:expansiva;
}
.descriptionjl p {
    display:inline;
    color:white;
}
.blueberry {
    margin: 0 auto;
  
}
.blueberry .slides {
    display: block;
    position: relative;
    overflow: hidden;
}
.blueberry .slides li {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.blueberry .slides li img {
    display: block;
    width: 100%;
    max-width: none;
}
.blueberry .slides li.active {
    display: block;
    position: relative;

}
.blueberry .pager {
    height: 40px;
    text-align: center;
    position:relative;
    bottom:40px;
    
}
.blueberry .pager li {
    display: inline-block;
}
.blueberry .pager li a, .blueberry .pager li a span {
    display: block;
    height: 4px;
    width: 4px;
}
.blueberry .pager li a {
    padding: 18px 8px;
    padding-left:1%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.blueberry .pager li a span {
    overflow: hidden;
    background: #c0c0c0;
    text-indent: -9999px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.blueberry .pager li.active a span {
    background: #1abc9c;
}


